@model Colibri.ViewModels.ProductsViewModel
@using Colibri.Extensions

@{
    ViewData["Title"] = "Create";
}

<h2 class="text-info">Create Product</h2>

<!-- for Images: enctype="multipart/form-data" -->
<form method="post" enctype="multipart/form-data" asp-action="Create">
    <div class="p-4 border rounded">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Products.Name"></label>
            </div>
            <div class="col-5">
                <input asp-for="Products.Name" class="form-control" />
            </div>
            <span asp-validation-for="Products.Name" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Products.Price"></label>
            </div>
            <div class="col-5">
                <input asp-for="Products.Price" class="form-control" />
            </div>
            <span asp-validation-for="Products.Price" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Products.Image"></label>
            </div>
            <div class="col-5">
                <input type="file" name="file" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="CategoryGroups"></label>
            </div>
            <!-- using the Extension Method for DropDown -->
            <div class="col-5">
                <select asp-for="@Model.Products.CategoryGroupId" asp-items="Model.CategoryGroups.ToSelectListItem(Model.Products.CategoryGroupId)"></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="CategoryTypes"></label>
            </div>
            <!-- using the Extension Method for DropDown -->
            <div class="col-5">
                <select asp-for="@Model.Products.CategoryTypeId" asp-items="Model.CategoryTypes.ToSelectListItem(Model.Products.CategoryTypeId)"></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="SpecialTags"></label>
            </div>
            <!-- using the Extension Method for DropDown -->
            <div class="col-5">
                <select asp-for="@Model.Products.SpecialTagId" asp-items="Model.SpecialTags.ToSelectListItem(Model.Products.SpecialTagId)"></select>
            </div>
        </div>
        <!-- Available with a Checkbox -->
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Products.Available"></label>
            </div>
            <div class="col-5">
                <input type="checkbox" asp-for="Products.Available" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Products.Description"></label>
            </div>
            <div class="col-5">
                <input asp-for="Products.Description" class="form-control" />
            </div>
            <span asp-validation-for="Products.Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Create" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}