﻿@model Colibri.ViewModels.ProductsViewModel
@using Colibri.Extensions

@{
    ViewData["Title"] = "Details";
}

<h2 class="text-info">Product Details</h2>

<div class="p-4 border rounded row">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="col-1"></div>

    <!-- Image -->
    <div class="col-3">
        <img src="@Model.Products.Image" width="100%" style="border-radius:5px; border:1px solid #bbb9b9;" />
    </div>

    <!-- Product Properties -->
    <div class="col-8">
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Products.Name"></label>
            </div>
            <div class="col-8">
                <input asp-for="Products.Name" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Products.Price"></label>
            </div>
            <div class="col-8">
                <input asp-for="Products.Price" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="CategoryTypes"></label>
            </div>
            <!-- using default input -->
            <div class="col-8">
                <input asp-for="Products.CategoryTypes.Name" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="SpecialTags"></label>
            </div>
            <!-- using default input -->
            <div class="col-8">
                <input asp-for="Products.SpecialTags.Name" readonly class="form-control" />
            </div>
        </div>
        <!-- Available with a Checkbox -->
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Products.Available"></label>
            </div>
            <div class="col-8">
                <input type="checkbox" readonly class="form-control" asp-for="Products.Available" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Products.Description"></label>
            </div>
            <div class="col-8">
                <input asp-for="Products.Description" readonly class="form-control" />
            </div>
        </div>
    </div>
    <!-- Buttons -->
    <div class="form-group">
        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.Products.Id">Edit</a>
        <a asp-action="Index" class="btn btn-success">Back to List</a>
    </div>
</div>