<div container-dashboard>
    <div row>
        <!-- Column #1 -->
        <div class="d-flex">
            <div class="p-lg-5 p-3 flex-fill">
                <p>Add Advertisement</p>
            </div>
            <div class="p-lg-5 p-3 flex-fill">
                <p>Search for Advertisement</p>
            </div>
        </div>
        <!-- END: Column #1 -->
        <!-- Column #2 -->
        <div class="d-flex">
            <div class="p-lg-5 p-3 flex-fill">
                <p>Add Service</p>
            </div>
            <div class="p-lg-5 p-3 flex-fill">
                <p>Search for Service</p>
            </div>
        </div>
        <!-- END: Column #2 -->
    </div>
</div>