@model Colibri.ViewModels.ShoppingCartViewModel

<!-- individual CSS -->
@section shoppingCart {
    <link href="~/css/shoppingCart.css" rel="stylesheet" />
}

<div class="appointment-confirmation">
    <h2 class="text-info">AppointmentConfirmation</h2>
    <div class="form-text">
        Your Appointment has been submitted.
    </div>

    <!-- consume the Partial Views -->
    <div class="appointment-confirmation-content">
        <partial name="~/Views/Shared/_AppointmentCustomerDetails.cshtml" model="Model.Appointments" />

        <partial name="~/Views/Shared/_AppointmentProductDetails.cshtml" model="Model.Products" />

        <a asp-area="Customer" asp-controller="ProductsHome" asp-action="Index" class="btn btn-success">Back to Products</a>
    </div>
</div>

