﻿@model Colibri.ViewModels.ShoppingCartViewModel

<!-- individual CSS -->
@section shoppingCart {
    <link href="~/css/shoppingCart.css" rel="stylesheet" />
}

@{
    ViewData["Title"] = "Index";
}

<form method="post">
    <h2 class="text-info">Your Shopping Cart</h2>
    @if (Model.Products.Count > 0)
    {
        <div class="container border border-secondary rounded">
            <div class="row">
                <!-- Shopping Cart Part: Products -->
                <div class="col-8">
                    <table class="table table-striped">
                        <tr class="table-info">

                            <!-- Table Headers -->
                            <th id="imageRowHeader"></th>
                            <th>
                                <label asp-for="@Model.Products.FirstOrDefault().Name"></label>
                            </th>
                            <th>
                                <label asp-for="@Model.Products.FirstOrDefault().Price"></label>
                            </th>
                            <th>
                                <label asp-for="@Model.Products.FirstOrDefault().CategoryTypes"></label>
                            </th>
                            <th>
                                <label asp-for="@Model.Products.FirstOrDefault().Description"></label>
                            </th>
                            <th></th>
                            <!-- END: Table Headers -->
                        </tr>

                        <!-- Table Content -->
                        @foreach (var item in Model.Products)
                        {
                            <!-- Images clickable: redirect to Details Page -->
                            <tr class="table-content">
                                <td id="imageContent">
                                    <a asp-area="Customer" asp-controller="ProductsHome" asp-action="Details" asp-route-id="@item.Id">
                                        <img src="@item.Image" />
                                    </a>
                                </td>
                                <td class="tableContentColumn">
                                    @Html.DisplayFor(p => item.Name)
                                </td>
                                <td class="tableContentColumn">
                                    @Html.DisplayFor(p => item.Price)
                                </td>
                                <td class="tableContentColumn">
                                    @Html.DisplayFor(p => item.CategoryTypes.Name)
                                </td>
                                <td class="tableContentColumn">
                                    @Html.DisplayFor(p => item.Description)
                                </td>

                                <!-- delete the Items from the Cart -->
                                <td class="tableContentColumn">
                                    <button type="submit" class="btn btn-danger" asp-action="remove" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></button>
                                </td>
                            </tr>
                        }
                    </table>
                </div>

                <!-- Shopping Cart Part: Appointments -->
                <div class="col-4">
                    <div class="row">
                        <div class="col-12">
                            <label>Name : </label>
                        </div>
                        <div class="col-12">
                            <input asp-for="@Model.Appointments.CustomerName" class="form-control" />
                        </div>
                        <div class="col-12">
                            <label>Phone Number : </label>
                        </div>
                        <div class="col-12">
                            <input asp-for="@Model.Appointments.CustomerPhoneNumber" class="form-control" />
                        </div>
                        <div class="col-12">
                            <label>Email : </label>
                        </div>
                        <div class="col-12">
                            <input asp-for="@Model.Appointments.CustomerEmail" class="form-control" />
                        </div>
                        <div class="col-12">
                            <label>Appointment Date : </label>
                        </div>
                        <div class="col-12">
                            <input asp-for="@Model.Appointments.AppointmentDate" value="" type="text" id="datepicker" class="form-control" />
                        </div>
                        <div class="col-12">
                            <label>Appointment Time : </label>
                        </div>
                        <div class="col-12">
                            <input asp-for="@Model.Appointments.AppointmentTime" value="" type="text" class="timepicker form-control" />
                        </div>
                        <div class="col-12">
                            <button type="submit" id="btnPlaceOrder" class="btn btn-success">Schedule Appointment</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div>No items added!</div>
    }
</form>

<!-- adding Scripts -->
<!-- min Date: tomorrow -->
<!-- max Date: 3 Months -->
@section Scripts
{
    <script>
        // Time-Picker
        $('.timepicker').timepicker({
            timeFormat: 'h:mm p',
            interval: 60,
            minTime: '10',
            maxTime: '20:00pm',
            //defaultTime: '11',
            startTime: '06:00',
            dynamic: true,
            dropdown: true,
            scrollbar: true
        });

        // Date-Picker
        $(function () {
            $("#datepicker").datepicker({
                minDate: +1,
                maxDate: "+3M"
            });
        });
    </script>
}

