@model Colibri.Models.Category.Category

<h1>Create</h1>

<form method="post">
    <label asp-for="Name"></label>
    <input asp-for="Name" />

    <input type="submit" name="save" value="save" />
</form>
