@model Colibri.ViewModels.HomeIndexViewModel

<table>
    @foreach (var category in Model.Categories)
    {
        <tr>
            <td>@category.Id</td>
            <td>@category.Name</td>
            <td>
                <a asp-action="Details" asp-route-id="@category.Id">Details</a>
            </td>
        </tr>
    }
</table>