@model Colibri.ViewModels.HomeIndexViewModel

<div class="col-md-12">
    <div class="form-border">
        <div class="custom-center">
            <h4>Website durchsuchen</h4>
            <br />
        </div>
        <div class="row">
            <!--Angebote suchen-->
            <div class="col-md-6">
                <div>
                    <a asp-controller="SearchOffers" asp-action="Index" type="button" class="btn btn-primary custom-button">
                        Angebot Suchen &nbsp;
                        <i class="fas fa-search-plus"></i>
                    </a>
                </div>
                <br />
                <div class="col-md-8">
                    <form asp-controller="Home" asp-action="AdvertisementResults">
                        <!--<input asp-for="SearchAdvertisement" class="form-control" />-->
                        <input class="form-control" />
                    </form>
                </div>
            </div>
            <!--Nachfragen suchen-->
            <div class="col-md-6">
                <div>
                    <a asp-action="Create" type="button" class="btn btn-primary custom-button">
                        Nachfrage Suchen &nbsp;
                        <i class="fas fa-search-plus"></i>
                    </a>
                </div>
                <br />
                <div class="col-md-8">
                    <!--<input asp-for="SearchAdvertisementRequest" class="form-control" />-->
                    <input class="form-control" />
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="col-md-12">
    <div class="form-border">
        <div class="custom-center">
            <h4>Inserat hochladen</h4>
            <br />
        </div>
        <div class="row">
            <!--Angebote erstellen-->
            <div class="col-md-6">
                <div>
                    <a asp-controller="Advertisements" asp-action="Create" type="button" class="btn btn-primary custom-button">
                        Angebot erstellen &nbsp;
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
            </div>
            <!--Nachfragen erstellen-->
            <div class="col-md-6">
                <div>
                    <a asp-controller="Advertisements" asp-action="Create" type="button" class="btn btn-primary custom-button">
                        Nachfrage erstellen &nbsp;
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>