@model Colibri.ViewModels.HomeIndexViewModel

<div class="col-md-12">
    <div class="form-border">
        <div class="custom-center">
            <h4>Website durchsuchen</h4>
            <br />
        </div>
        <div class="row">
            <!--Angebote suchen-->
            <div class="col-md-6">
                <div>
                    <a asp-controller="SearchOffers" asp-action="Index" type="button" class="btn btn-primary custom-button">
                        Angebot Suchen &nbsp;
                        <i class="fas fa-search-plus"></i>
                    </a>
                </div>
                <br />
                <div class="col-md-6">
                    <form asp-controller="SearchOffers" asp-action="SearchOffer">
                        <div class="row d-flex justify-content-center">
                            <input asp-for="SearchAdvertisement" type="text" /> &nbsp;
                            <button class="btn btn-primary custom-button"><i class="fas fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
            <!--Nachfragen suchen-->
            <div class="col-md-6">
                <div>
                    <a asp-controller="SearchRequests" asp-action="Index" type="button" class="btn btn-primary custom-button">
                        Nachfrage Suchen &nbsp;
                        <i class="fas fa-search-plus"></i>
                    </a>
                </div>
                <br />
                <div class="col-md-6">
                    <form asp-controller="SearchRequests" asp-action="SearchRequest">
                        <div class="row d-flex justify-content-center">
                            <input asp-for="SearchAdvertisement" type="text" /> &nbsp;
                            <button class="btn btn-primary custom-button"><i class="fas fa-search"></i></button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="col-md-12">
    <div class="form-border">
        <div class="custom-center">
            <h4>Inserat hochladen</h4>
            <br />
        </div>
        <div class="row">
            <!--Angebote erstellen-->
            <div class="col-md-6">
                <div>
                    <a asp-route-area="Customer" asp-controller="AdvertisementOffer" asp-action="Index" type="button" class="btn btn-primary custom-button">
                        Angebot erstellen &nbsp;
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
            </div>
            <!--Nachfragen erstellen-->
            <div class="col-md-6">
                <div>
                    <a asp-route-area="Customer" asp-controller="AdvertisementRequest" asp-action="Index" type="button" class="btn btn-primary custom-button">
                        Nachfrage erstellen &nbsp;
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>