@model Colibri.ViewModels.HomeIndexViewModel

<div class="col main pt-1 mt-1">
    <h1 class="display-4 d-none d-sm-block">
        Colibri Dashboard
    </h1>
</div>

<div container-dashboard>
    <div row>
        <!-- Column #1 -->
        <div class="d-flex">
            TODO
        </div>
        <!-- END: Column #1 -->
        <!-- Column #2 -->
        <div class="d-flex">
            TODO
        </div>
        <!-- END: Column #2 -->
    </div>
</div>

