@model Colibri.ViewModels.CameraIndexViewModel

<table>
    @foreach (var camera in Model.Cameras)
    {
        <tr>
            <td>@camera.Id</td>
            <td>@camera.Name</td>
        </tr>
    }
</table>
