@model Colibri.ViewModels.ProductsRatingViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form method="get">
    <div class="row">
        <div class="col-6 text-center">
            <h2 class="text-info">Details</h2>
        </div>
    </div>

    <div>
        <table class="table table-striped border">
            <tr class="text-info">
                <th>
                    Product
                </th>
                <th>
                    Username
                </th>
                <th>
                    Description
                </th>
            </tr>
            
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(p => item.ProductId)
                    </td>
                    <td>
                        @Html.DisplayFor(u => item.ApplicationUserName)
                    </td>
                    <td>
                        @Html.DisplayFor(d => item.Description)
                    </td>
                    @if (User.Identity.IsAuthenticated && Model.CurrentUserId == item.ApplicationUserId)
                    {
                        <td>
                            <partial name="_TableButtonPartialCustomerProductsRatingsAuthorized" model="item.Id" />
                        </td>
                    }
                    else
                    {
                        <td>
                            <partial name="_TableButtonPartialCustomerProductsRatings" model="item.Id" />
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
</form>