﻿@model Colibri.ViewModels.AppointmentDetailsViewModel
@using Colibri.Extensions
@using Colibri.Utility

@{
    ViewData["Title"] = "Edit";
}

<h2 class="text-info">Edit Appointments</h2>

<!-- for Images: enctype="multipart/form-data" -->
<form method="post" enctype="multipart/form-data" asp-action="Edit">
    <div class="p-4 border rounded row">
        <!-- hidden Property needed -->
        <input hidden asp-for="Appointment.Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <!-- Product Properties -->
        <div class="col-6">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Appointment.CustomerName"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Appointment.CustomerName" class="form-control" />
                </div>
                <span asp-validation-for="Appointment.CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Appointment.CustomerEmail"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Appointment.CustomerEmail" class="form-control" />
                </div>
                <span asp-validation-for="Appointment.CustomerEmail" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Appointment.AppointmentDate"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Appointment.AppointmentDate" id="datepicker" type="text" class="form-control" />
                </div>
                <span asp-validation-for="Appointment.AppointmentDate" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Appointment.AppointmentTime"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Appointment.AppointmentTime" id="timepicker" type="text" class="timepicker form-control" />
                </div>
                <span asp-validation-for="Appointment.AppointmentTime" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Appointment.CustomerPhoneNumber"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Appointment.CustomerPhoneNumber" class="form-control" />
                </div>
                <span asp-validation-for="Appointment.CustomerPhoneNumber" class="text-danger"></span>
            </div>

            <!-- AppPerson -->
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Appointment.AppPerson"></label>
                </div>
                <div class="col-8">
                    @if (User.IsInRole(StaticDetails.AdminEndUser))
                    {
                        <input asp-for="Appointment.AppPerson.UserName" readonly class="form-control" />
                        <input asp-for="Appointment.AppPersonId" hidden />
                    }
                    else
                    {
                        <select asp-for="Appointment.AppPersonId" asp-items="Model.AppPerson.ToSelectListItemString(Model.Appointment.AppPersonId)" class="form-control"></select>
                    }
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Appointment.isConfirmed"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Appointment.isConfirmed" class="form-control" />
                </div>
            </div>
            <!-- END: Product Properties -->
        </div>

        <!-- Product Details -->
        <div class="col-6">
            @* Partial View *@
            <partial name="~/Views/Shared/_AppointmentProductDetails.cshtml" model="Model.Products" />
        </div>

        <!-- Buttons -->
        <div class="form-group">
            <input type="submit" class="btn btn-primary" asp-route-id="@Model.Appointment.Id" value="Update" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        // Time-Picker
        $('.timepicker').timepicker({
            timeFormat: 'h:mm p',
            interval: 60,
            minTime: '10',
            maxTime: '20:00pm',
            //defaultTime: '11',
            startTime: '06:00',
            dynamic: true,
            dropdown: true,
            scrollbar: true
        });


        // Date-Picker
        $(function () {
            $("#datepicker").datepicker({
                minDate: +1,
                maxDate: "+3M"
            });
        });

        // Format the Date & Time
        $(document).ready(function () {
            var appointmentTime = document.getElementById('datepicker').value;
            var splitData = "";
            if (appointmentTime.indexOf(" ") > 0) {
                splitData = appointmentTime.split(" ");

            }
            else {
                splitData = appointmentTime.split("T");

            }

            var time = splitData[1].substring(0, 5);
            if (time.slice(-1) == ":") {
                time = time.substring(0, time.length - 1);

            }
            var amPmTime = splitData[2];
            $('#datepicker').attr('value', splitData[0]);
            $('#timepicker').attr('value', time + ' ' + amPmTime);

        });
    </script>
}