﻿@model Colibri.ViewModels.AppointmentViewModel

<!-- individual CSS -->
@section appointments {
    <link href="~/css/appointments.css" rel="stylesheet" />
}

<form method="get">
    <h2 class="text-info">Appointment List</h2>
    <!-- Search Criteria -->
    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-2">
                    Customer Name
                </div>
                <div class="col-3">
                    @Html.Editor("searchName", new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-2">

                </div>
                <div class="col-2">
                    Email
                </div>
                <div class="col-3">
                    @Html.Editor("searchEmail", new { htmlAttributes = new { @class = "form-control" } })
                </div>

            </div>
            <div class="row">
                <div class="col-2">
                    Phone Number
                </div>
                <div class="col-3">
                    @Html.Editor("searchPhone", new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-2">

                </div>
                <div class="col-2">
                    Appointment Date
                </div>
                <div class="col-3">
                    @Html.Editor("searchDate", new { htmlAttributes = new { @class = "form-control", @id = "datepicker" } })
                </div>

            </div>
            <div class="row">
                <div class="col-2">
                </div>
                <div class="col-3">
                </div>
                <div class="col-2">

                </div>
                <div class="col-2">
                </div>
                <div class="col-3">
                    <button type="submit" name="submit" value="Search" class="btn btn-primary form-control">
                        <i class="fas fa-search"></i> Search
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div>
        <table class="table table-striped border">
            <!-- the Titles Row -->
            <tr class="table-info">
                <th>
                    @Html.DisplayNameFor(m => m.Appointments.FirstOrDefault().AppPerson.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Appointments.FirstOrDefault().AppointmentDate)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Appointments.FirstOrDefault().CustomerName)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Appointments.FirstOrDefault().CustomerPhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Appointments.FirstOrDefault().CustomerEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Appointments.FirstOrDefault().isConfirmed)
                </th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var item in Model.Appointments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.AppPerson.UserName)
                    </td>

                    <td>
                        @Html.DisplayFor(m => item.AppointmentDate)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.CustomerName)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.CustomerPhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.CustomerEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.isConfirmed)
                    </td>
                    <td>
                        <partial name="_TableButtonPartial" model="item.Id" />
                    </td>
                </tr>
            }
        </table>
    </div>

    <!-- Pagination -->
    <div page-model="@Model.PagingInfo" 
         page-action="Index" 
         page-classes-enabled="true"
         page-class="btn border" 
         page-class-normal="btn btn-default active" 
         page-class-selected="btn btn-primary active" 
         class="btn-group m-1">
    </div>
</form>

<!-- adding Scripts -->
<!-- min Date: tomorrow -->
<!-- max Date: 3 Months -->
@section Scripts
    {
    <script>
        // Date-Picker
        $(function () {
            $("#datepicker").datepicker({
                minDate: +1,
                maxDate: "+3M"
            });
        });
    </script>
}