/* general CSS for the Site */
body {
    font-family: "Segoe UI", Verdana, Geneva, Tahoma, sans-serif;
}

.elemNotDisplay {
    display: none;
}
/* END: general CSS for the Site */

/* Navigation Panel */
.navbar-right > ul > li > a {
    padding-right: 10px;
}

/* Breadcrumb */
.breadcrumb {
    float: left;
}

/* Registration */
#Input_IsSuperAdmin {
    z-index: 100;
}

/* Login */
#loginToggle {
    cursor: pointer;
}

#loggedUser {
    margin-top: 7px;
}

/* Input Panel */
input[type=submit] {
    width: auto;
}

input, textarea {
    font-size: 18px;
    /*width: 200px;*/
}

label {
    font-size: 16px;
}

/* Dashboard */
.container-dashboard {
    display: flex;
    flex-direction: row;
    align-content: stretch;
}

/* Dashboard > Category */
.categoryInfo {
    border: 1px solid grey;
    /* do not maximize the div */
    display: inline-block;
    /* t-r-b-l */
    padding: 5px 5px 5px 5px;
    /* outside the form */
    margin: 1px;
    max-width: 550px;
    min-width: 200px;
    background-color: lightgray;
    border-radius: 5px;
}

    .categoryInfo img {
        margin: 3px;
        float: left;
        border: 1px solid black;
        max-width: 200px
    }
/* END: Dashboard */

/* User Input Form */
#userForm {
    background-color: lightgray;
}

    /* space = child */
    #userForm input[type=submit] {
        background-color: green;
        color: white;
    }

/* Product Panel */
/* bound to a specific tag */
ul.productProps {
    font-size: small;
    float: left;
}

    /* specific inside*/
    ul.productProps li {
        /* show no bullet of ul */
        list-style-type: none;
    }

.productInfo {
    border: 1px solid grey;
    /* do not maximize the div */
    display: inline-block;
    /* t-r-b-l */
    padding: 5px 5px 5px 5px;
    /* outside the form */
    margin: 1px;
    width: 450px;
    background-color: lightgray;
    border-radius: 5px;
}

    .productInfo img {
        margin: 3px;
        float: left;
        border: 1px solid black;
        max-width: 200px
    }

.d-none.d-md-inline-block.form-inline.ml-auto.mr-0.mr-md-3.my-2.my-md-0 {
    float: right;
    margin-top: 0.5rem !important;
    margin-right: 0rem !important;
}

.productsList {
    padding-top: 30px;
}

.popup-form {
    padding: 5px;
    border: 2px black outset;
    display: inline-block;
}

    .popup-form label {
        width: 150px;
        display: inline-block;
    }

    .popup-form input[type=submit] {
        width: auto;
    }

/* Footer */
footer.sticky-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    right: 0;
    bottom: 0;
    /*width: calc(100% - 90px);*/
    width: 100%;
    color: black;
    text-align: center;
    height: 80px;
    z-index: -1;
    /*background-color: #e9ecef;*/
}

    footer.sticky-footer .copyright {
        line-height: 1;
        font-size: 0.8rem;
    }

@media (min-width: 768px) {
    footer.sticky-footer {
        /*width: calc(100% - 225px);*/
        width: calc(100%);
    }
}

body.sidebar-toggled footer.sticky-footer {
    width: 100%;
}

@media (min-width: 768px) {
    body.sidebar-toggled footer.sticky-footer {
        /*width: calc(100% - 90px);*/
        width: calc(100%);
    }
}

/* Rating */
.rating-header {
    margin-top: -10px;
    margin-bottom: 10px;
}
