.label-overview {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 100%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.label-overview-danger {
    background-color: #d9534f;
}

.label-overview-warning {
    background-color: #f0ad4e;
}

.label-overview-info {
    background-color: #5bc0de;
}

.label-overview-success {
    background-color: #5cb85c;
}

.label-overview-primary {
    background-color: #337ab7;
}

.label-overview-default {
    background-color: #777;
}