.productImage {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #bbb9b9;
}

.availableIconImage {
    width: 50%;
}

.advertisementImage {
    margin-left: auto;
    margin-right: auto;
    height: 140px;
    max-height: 100%;
    max-width: 100%;
    width: inherit !important;
}