.container.border.border-secondary.rounded {
    padding: 15px;
}

.row > .col-8 {
    border-right:1px solid #bbb9b9;
}

.col-8 > .table.table-striped {
    width: 100%;
}

.table-info {
    text-align: center;
}

#imageRowHeader {
    width: 20%;
}

.table-content {
    padding: 50px;
}

#imageContent > a > img {
    width: 100%;
    margin: auto;
    display: block;
    border-radius: 5px;
    border: 1px solid #bbb9b9;
}

.tableContentColumn {
    text-align: center;
}

.row > .col-4 {
    padding-left: 30px;
}

.col-4 > .row > .col-12 {
    padding-bottom: 10px;
}
