<div class="col-12">
    <h2 class="text-info">Über Colibri</h2>
</div>
<hr />
<div class="form-border">
    <h4 class="text-info text-center">Einleitung</h4>
    <p>Den Begriff «Sharing Economy» hört man seit der Jahrtausendwende immer häufiger. 
    Auch für Privatpersonen bringt das gemeinsame Nutzen verschiedener Ressourcen viele Vorteile. 
    So können namentlich hohe Anschaffungskosten für selten genutzte Gebrauchsgegenstände, 
    wie zum Beispiel eine Bohrmaschine, vermieden werden, indem man sich einfach das beim Nachbarn 
    vorhandene Gerät borgt, sofern die Bereitschaft und Information darüber vorhanden ist.</p>

    <h4 class="text-info text-center">Ziel</h4>
    <p>Die Idee der Applikation «Colibri» ist es, eine (Nachbarschafts-)Plattform für private Personen 
    zu schaffen, über welche diese schnell und zielgerichtet miteinander in Kontakt treten können, 
    um sich gegenseitig auszuhelfen. Im Unterschied zu ähnlichen Websites (wie z.B tutti.ch) haben die 
    Nutzer von «Colibri» insbesondere auch die Möglichkeit, ein Bedürfnis in Form eines Nachfrage-Inserats 
    zu publizieren. Die Applikation soll einfach zu bedienen sein, um ein möglichst breites Publikum 
    anzusprechen und somit auch den Gemeinschaftssinn im Umkreis des Wohnorts zu fördern. </p>

    <h4 class="text-info text-center">Konzept</h4>
    <p>
        Besucher können auf der Website selbständig Inserate erfassen, mit welchen sie Güter und 
        Dienstleistungen anbieten oder nachfragen können. Die hochgeladenen Inserate sind öffentlich 
        und können von anderen Website-Besuchern eingesehen werden. Filter- und Suchfunktionen helfen 
        den Nutzern dabei, ein für sie passendes Angebot zu finden.
        <br />
        Hat ein Nutzer das Gesuchte (das entsprechende Inserat) gefunden, so hat er die Möglichkeit, 
        dem Erfasser des Inserats via Applikation eine Nachricht zukommen zu lassen. Er kann im gleichen 
        Zug auch einen Terminvorschlag senden. Das Aushandeln allfälliger weiterer Vertragskonditionen 
        erfolgt ausserhalb der Applikation. Sie dient in erster Linie dazu, den Kontakt und das 
        grundlegende Matching zwischen Anbieter und Nachfrager zu ermöglichen.
    </p>
</div>
<br /><br />