@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
@using Colibri.Utility

<ul class="list-group">
    <li class="list-group-item"><a asp-page="./Index">Profile</a></li>
    <li class="list-group-item"><a id="change-password" asp-page="./ChangePassword">Password</a></li>
    @if (hasExternalLogins)
    {
        <li class="list-group-item"><a id="external-login" asp-page="./ExternalLogins">External logins</a></li>
    }
    <li class="list-group-item"><a asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>
    <li class="list-group-item"><a asp-page="./PersonalData">Personal data</a></li>
    @if (User.IsInRole(StaticDetails.SuperAdminEndUser))
    {
        <li class="list-group-item"><a asp-route-area="Identity" asp-page="/Account/RegisterAdmin">Register Admin</a></li>
    }
    <li class="list-group-item"><a asp-route-data="Identity" asp-page="/Account/UserSubscribe">Subscriber Index</a></li>
    <li class="list-group-item"><a asp-route-data="Identity" asp-page="/Account/UserSubscribeCreate">Subscribe</a></li>
</ul>
