<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/index.css" rel="stylesheet" />
</head>
<body>
    <main>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Colibri</a>
                </div>
            </div>
            <div class="navbar-right">
                <vc:login-logout></vc:login-logout>
            </div>
        </nav>
        <section>
            <article>
                <div class="categoryInfo">
                    <img src="~/img/Categories/category_tree.png" />

                    @RenderBody()
                </div>
            </article>
        </section>
    </main>
    <footer>
        @DateTime.Now.Year
    </footer>

    <script src="~/node_modules/jquery/dist/jquery.js"></script>
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/index.js"></script>
</body>
</html>
