﻿@using Microsoft.AspNetCore.Identity
@using Colibri.Models
@*@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager*@
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@await Component.InvokeAsync("UserName")</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    @*<ul class="nav navbar-nav navbar-right">*@
    <ul class="nav navbar-nav navbar-collapse justify-content-end">
        @*<li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>*@
        <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
    </ul>
}
