@using Microsoft.AspNetCore.Identity
@using Colibri.Models
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Colibri.Utility

@if (SignInManager.IsSignedIn(User))
{
    <form asp-route-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li id="loggedUser">
                <a asp-route-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@await Component.InvokeAsync("UserName")</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-collapse justify-content-end">
        @if (User.IsInRole(StaticDetails.SuperAdminEndUser))
        {
            <li><a asp-route-area="Identity" asp-page="/Account/RegisterAdmin">Register</a></li>
        }
        else
        {
        <li><a asp-route-area="Identity" asp-page="/Account/Register">Register</a></li>
        <li><a asp-route-area="Identity" asp-page="/Account/Login">Login</a></li>
        }
    </ul>
}
