@model Colibri.ViewModels.DashboardMiddleLayerViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<!-- consume the Partial View -->
@*<partial name="~/Views/Shared/Components/DashboardMiddleLayer/_DashboardMiddleLayer.cshtml" model="Model.Products" />*@

<partial name="~/Views/Shared/Components/DashboardMiddleLayer/_DashboardMiddleLayer.cshtml" />