@model int

<td style="width:150px">
    <div>
        <a asp-action="Details" asp-controller="Advertisement" class="btn btn-success pull-right btn-outline-info" asp-route-id="@Model">View Details</a>
    </div>
</td>