@model string

<td style="width:150px">
    <div>
        <a asp-area="Customer" asp-action="Details" asp-controller="ApplicationUserRating" class="btn btn-success pull-right btn-outline-info" asp-route-id="@Model">@ViewData["ViewDetails"]</a>
    </div>
</td>