﻿@model IEnumerable<Colibri.Models.ApplicationUser>

<div class="row">
    <div class="col-6 text-center">
        <h2 class="text-info">Admin Users List</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; New Admin User</a>
    </div>
</div>
<div>
    <table class="table table-striped border">
        <tr class="text-info">
            <th>
                @Html.DisplayNameFor(m => m.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Email)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.PhoneNumber)
            </th>
            <th>
                Disabled
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(m => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(m => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(m => item.Email)
            </td>
            <td>
                @Html.DisplayFor(m => item.PhoneNumber)
            </td>
            <td>
                <!-- Condition 'Lockout': if the Date ends, lock the User out -->
                @if (item.LockoutEnd != null || item.LockoutEnd > DateTime.Now)
                {
                    <label>Disabled</label>
                }
            </td>
            <td>
                <!-- Condition 'Lockout': if the Date does NOT end, allow Redirection -->
                @if (item.LockoutEnd == null || item.LockoutEnd < DateTime.Now)
                {
                    <a type="button" class="btn btn-primary" href="@Url.Action("Edit/" + item.Id)">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a type="button" class="btn btn-danger" href="@Url.Action("Delete/" + item.Id)">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                }
            </td>
        </tr>
        }
    </table>
</div>