@model Colibri.Models.CategoryTypes

<h2>Details</h2>

<h1>@Model.Name</h1>

<div class="py-1">
    <a asp-route-area="Admin" asp-controller="CategoryTypes" asp-action="Create" class="btn btn-outline-info">Extend Category Type</a>
</div>

<div class="py-1">
    <a asp-action="Index" asp-controller="Home" class="btn btn-outline-info">Home</a>
</div>